:root {
  --blue: rgb(10, 35, 56);
  --blue-darker: rgb(0, 14, 25);
  --red: #e20612;
  --black: black;
  --dark-grey: #333;
  --light-grey: #999;
  --off-white: #eee;
  --page-background: var(--off-white);
  --font-system: system-ui, sans-serif;
  --measure: 70ch;
  --sidebar-height: 0px;
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  border: 0;
}
textarea:not([rows]) {
  min-height: 10em;
}
:target {
  scroll-margin-block: 5ex;
}
p {
  max-inline-size: var(--measure, 70ch);
  font-size: 0.8rem;
}
h1,
h2,
h3 {
  font-weight: bold;
}
h1 {
  font-size: 1.35rem;
  letter-spacing: -0.03rem;
}
figcaption {
  color: var(--accent-color, #ddd);
  font-size: 0.8rem;
  margin-block-start: 1rem;
  text-align: center;
  max-inline-size: 100%;
}
details {
  display: block;
}
details summary {
  cursor: pointer;
  margin-block-end: 0.35rem;
}
blockquote {
  font-style: italic;
  border-left: 2px solid var(--blue-darker, #0a2338);
  padding-inline-start: 2rem;
  font-size: 1.2rem;
}
label {
  font-size: 0.6rem;
  color: var(--dark-grey, #333);
}
label,
input,
fieldset {
  max-inline-size: var(--measure);
}
body {
  background-color: var(--off-white);
  color: var(--dark-grey);
  font-family: var(--font-system);
  word-break: break-word;
  display: flex;
  flex-wrap: wrap;
  min-block-size: 100vh;
  scroll-behavior: smooth;
}
aside,
main {
  padding: 1.75rem;
}
aside {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-block-size: 100vh;
  position: sticky;
  top: 0;
  background-color: var(--off-white);
  z-index: 1;
}
main {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 65%;
  background-color: #fff;
  z-index: 999;
  position: relative;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  scroll-margin: 94px;
}
.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 2rem;
}
.header_logo {
  height: 48px;
}
.sidebar__arrow {
  background: rgba(0, 0, 0, 0);
  transform: rotate(90deg);
  padding: 0;
  margin-inline-start: 1rem;
  margin-block-start: -1rem;
  color: var(--red);
}
.sidebar__arrow:hover {
  background: rgba(0, 0, 0, 0);
  color: var(--off-white);
}
.isWide .sidebar__arrow {
  display: none;
}
aside li {
  margin-block-end: 0.35rem;
  transform: scale(0.8);
}
input,
label {
  line-height: 1.1;
  display: block;
}
label {
  font-size: 0.6rem;
  color: var(--dark-grey);
}
fieldset {
  border: none;
  padding: 0;
}
fieldset > * + * {
  margin-block-start: 0.5rem;
}
aside ul {
  list-style: none;
  padding-inline-start: 0;
}
aside a {
  text-decoration: none;
  color: var(--black);
  text-align: left;
}
aside a:hover {
  color: var(--dark-grey);
}
.nav-current a {
  color: var(--blue-darker);
  font-weight: 500;
}
aside .name {
  text-transform: uppercase;
  font-size: 1.35rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  color: var(--black);
}
.sidebar .glass-icon img {
  height: 1rem;
}
.sidebar .glass-icon svg {
  margin-block-start: 3px;
  color: var(--black);
}
.site-footer {
  color: var(--accent-color);
  font-size: 0.8rem;
}
.image-row picture + picture {
  margin-top: 1rem;
  display: block;
}
@media (min-width: 610px) {
  .image-row {
    display: flex;
    gap: 1rem;
  }
  .image-row picture + picture {
    margin-top: 0;
  }
}
.image-row picture,
.image-row img {
  margin-bottom: 0;
}
.image img,
.image picture {
  width: 100%;
  margin-block-end: 0;
}
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}
.flow--tight > * + * {
  margin-block-start: 0.5rem;
}
.prose {
  --flow-space: 1.75rem;
}
.prose > :first-child {
  margin-block-start: 0;
}
.prose :is(* + h1, * + h2, * + h3, * + h4) {
  --flow-space: 3rem;
}
.prose :is(h1 + *, h2 + *, h3 + *, h4 + *) {
  --flow-space: 1rem;
}
.prose > figure + figure {
  --flow-space: 1rem;
}
.prose :is(figure + p, p + figure) {
  --flow-space: 2.5rem;
}
.prose--with-dropcap > :first-child:first-letter {
  float: left;
  font-size: 72px;
  line-height: 61px;
  padding-right: 8px;
  font-weight: 700;
  margin-top: -4px;
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.vertical-spacer {
  flex: 1;
  min-block-size: 2rem;
}

.day {
  margin-block: 2rem;
}

.day h2 {
  margin-block-start: 1rem;
  font-size: 1rem;
  font-weight: 300;
  color: var(--light-grey);
}

.day figcaption {
  text-align: left;
}

.day {
}

.portrait_fit img {
  max-height: 90vh;
}
